@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
.maket{
    margin:0px;
    width:100%;
    background-color:#FDFFFF;
    padding:0px;
}
.hat{
    height: 50px;
    display: -webkit-inline-flex;
    display: inline-flex; 
    background-color:#383838;
    width:100%;
    position: fixed;
    z-index:10;
}
.logo{
    height:50px;
    padding:0px;
    width:50px;
}
.logo_icon{
    height:50px;
    width:50px;
    margin:0px;
    padding:0px;
    background-color: #383838;
    border:none;
}
.logo_icon_img{
    height:45px;
    margin:0px;
    
}
.interface{
    display: -webkit-inline-flex;
    display: inline-flex; 
    background-color:#383838;
    justify-content: center;
    width:100%;
}
.shortcut{
    height:50px;
    padding:0px;
    flex-grow:0;
    width:40%;
}
.shortcut_icon{
    height:50px;
    width:50px;
    padding:0px;
    background-color: #383838;
    border:none;
}
.shortcut_icon_img{
    height:45px;
    
}
.search{
    height: 50px;
    flex-grow:1;
    width:400px;
}
.search_form{
    height: 50px;
    margin:0px;
    box-sizing: border-box;
    flex-shrink:0;
}
.search_area{
    display: inline-block;
    height:15px;
    
}
.search_icon{
    padding:0px;
    display: inline-block;
    background-color: #383838;
    border:none;
    height:50px;
    padding-top:0px;
}
.search_icon_img{
    height:35px;
}
.user{
    flex-grow:0;
}
.user_icon{
    height:50px;
    background-color: #383838;
    border:none;
}
.user_icon_img{
    height:45px;
}
.boots{
    height:200px;
    width: 100%;
    background-color: black;
    z-index:0;
    position: absolute;
}
.content{
    display: -webkit-inline-flex;
    display: inline-flex; 
    width: 100%;
}
main{
    min-height:1000px;
    background-color:#6A7493;
    flex-grow: 1;
    z-index:9;
    width:800px;
    flex-shrink: 0;
    margin-right:2px;
    display: -webkit-inline-flex;
    display:flex;
    flex-direction: column;
    align-content: center;
}
nav{
    width:200px;
    min-height:1000px;
    background-color: #383838;
    flex-grow:0;
    flex-shrink:0;
    margin-right:2px;
}
aside{
    width:200px;
    background-color: #99BEB6;
}
.bruce{
    font-family: Roboto;
    color:#F0F0F0;
    list-style-type: none;
    width:100%;
}
.lee{
    margin:0px;
    padding:0px;
    width:  100%;
}
.boots{
    padding:10px;
}
a{
    font-family: Roboto;
    color:#E0E0E0;
    text-decoration: none;
    font-size:20px;
    transition-property: color;
    transition-delay: linear;
}
a:hover{
    color:#FFFFFF;
}
.nav_indent{
    height:50px;
}
.nav_href{
    list-style-type: none;
}
.nav_list{
    width:100%;
    
}
.recent{
    font-family: Roboto;
    color:#383838;
    text-decoration: none;
    font-size:20px;
    text-align: center;
}
.news_block{
    background-color:#99BEB6;
    border:solid;
    border-color:#383838;
    margin-top:10px;
    width: 99%;
    margin-left:2px;
    font-family:Roboto;
    transition-property: background-color;
    transition-property: border-color;
}
.info{
    display: inline-block;
    width:120px;
    text-align: center;
    font-family:Train One;
    float:left;
}

.news_block:hover{
    border-color:#484848;
    background-color:#A9CEC6
}
.likes{
    border:solid;
}
h1{
    font-family: Train One;
    font-size: 30px;
}
h2{
    font-family: Train One;
    font-size: 26px;
}
h3{
    font-family: Train One;
    font-size: 24px;
}
h4{
    font-family: Train One;
    font-size: 20px;
}
h5{
    font-family: Roboto;
    font-size: 30px;
}
h6{
    font-family: Roboto;
    font-size: 20px;
}
.about_text{
    font-family: Roboto;
}
    
    

